_site
.jekyll-cache
tmp
vignettes/_knitr_cache

vignettes/data/MetaWards/inputs/
vignettes/data/MetaWards/raw_outputs/
vignettes/data/MetaWards/tests/*.pdf
vignettes/data/MetaWards/TierData/Ward*
vignettes/data/MetaWards/TierData/*.csv
.Rproj.user
