__pycache__
tests/*.Rout
tests/raw_outputs
tests/disease.dat

images/*.gif
images/*.Rout
data/trustDeathsAdmissionsIcuExtract20200624.csv

schematics
public

inputs/
raw_outputs/
tests/*/*.pdf
tests/*/*.csv
tests/*/user_inputs.txt
tests/*/disease.dat
tests/*/*.Rout
data/ward11toWard19Mapping/Ward*
data/ward11toWard19Mapping/*.csv
data/ward11toWard19Mapping/*.pdf
data/hospitalisation/*.pdf
data/hospitalisation/*.svg
data/hospitalisation/*.png
data/hospitalisation/*.rds
data/hospitalStays/*.pdf
data/hospitalStays/*.svg
data/hospitalStays/*.png
data/hospitalStays/*.rds
data/hospitalCatchments/WD19*
data/hospitalCatchments/*.pdf
data/hospitalCatchments/*.csv
data/contactData/*.csv
vignette/*.log
vignette/*.gz
vignette/*.pdf
vignette/*.svg
MetaWards.Rproj

literature
newData

