__pycache__

images/*.gif
images/*.Rout
data/trustDeathsAdmissionsIcuExtract20200624.csv

schematics
public
waves
usefulGit

inputs/
raw_outputs/
tests/*/*.pdf
tests/*/*.csv
tests/*/user_inputs.txt
tests/*/disease.dat
tests/*/*.Rout
tests/*/nohup.out
tests/*/raw_outputs*
tests/standalone*
data/ward11toWard19Mapping/Ward*
data/ward11toWard19Mapping/Local*
data/ward11toWard19Mapping/*.csv
data/ward11toWard19Mapping/*.pdf
data/ward11toWard19Mapping/*.png
data/wardToLADConversion/Local*
data/wardToLADConversion/LAD*
data/pathways/*.pdf
data/pathways/*.svg
data/pathways/*.png
data/pathways/*.rds
data/hospitalStays/*.pdf
data/hospitalStays/*.svg
data/hospitalStays/*.png
data/hospitalStays/*.rds
data/hospitalCatchments/WD19*
data/hospitalCatchments/*.pdf
data/hospitalCatchments/*.csv
data/contactData/*.csv
data/seedDeaths/*.pdf
data/seedDeaths/*.csv
vignette/*.log
vignette/*.gz
vignette/*.pdf
vignette/*.svg
vignette/age3.db
MetaWards.Rproj

literature
newData

metawardsCatalyst.zip

dataAssimilation/
tests/edits/
